.menu-contents
  - @menus.each do |menu|
    %form{:action => "", :method => "post"}
      .menu-package
        .menu-image
          = image_tag menu.image ,width:"200px", height:"150px"
          %h4= link_to "#{menu.name}"
          .count-price-container
            .count-price
              .price
                %p
                  ￥500
                  %span (税込)
              .count
                %label
                  %select.menu-count
                    - for count in 0..10 do
                      %option{:value => "\#{count}"}= count
            %input{:type => "submit", :value => "カートの中に入れる"}/
