<div class="menu-contents">
<% @menus.each do |menu| %>
   <form action="" method="post" >
     <div class="menu-package">
       <div class="menu-image">
         <a href="./details.php"><%= image_tag menu.image, width:"200px", height:"150px"%></a>
         <h4><%= link_to "#{menu.name}" %></h4>
       <div class="count-price-container">
         <div class="count-price">
           <div class="price">
             <p>￥500<span>(税込)</span></p>
           </div>
         <div class="count">
           <select name=""></select>
         </div>
       </div>
       <input type="submit" value="カートの中に入れる">
     </div>
  </div>
</div>
</form>
<% end %>
</div>

