.signup-progress
  .signup-progress__contents
    .signup-progress__contents__step#step1
      %p Step1
      %h4 アカウント情報
    .signup-progress__contents__step#step2
      %p Step2
      %h4 電話番号認証
    .signup-progress__contents__step#step3
      %p Step3
      %h4 住所登録
    .signup-progress__contents__step#step4
      %p Step4
      %h4 成功