.signup-header
  .signup-step1
    = render "signup-header"
  .single-main
    %h3 会員登録完了
    .register-form
      = form_with url: signup_index_path, method: :post do |f|
        .done-form
          %p ありがとうございます。
          %p 会員登録が完了しました。
        .done-form
          .next-btn
            =f.submit "メニューを見る",class:"done-btn"
              