.signup-header
  .signup-step1
    = render "signup-header"
    .register-address
      %h3 お届け先住所登録
      .register-form
        = form_for @address, url: done_signup_index_path, method: :post do |f|
          .step3-form
            .step3-form__title-input
              %span ※必須
              =f.label :postal_code, '郵便番号'
            .step3-form__input-layout
              =f.text_field :postal_code, placeholder: "例）123-4567", value: session[:postal_code]
          .step3-form
            .step3-form__title-input
              %span ※必須
              =f.label :prefecture_id, '都道府県', class: 'form-label'
            .step3-form__input-layout 
              =f.collection_select :prefecture_id, Prefecture.all, :id, :name, prompt: "---",value: session[:prefecture_id]
          .step3-form
            .step3-form__title-input
              %span ※必須
              =f.label :city, '市区町村', class: 'form-label'
            .step3-form__input-layout
              =f.text_field :city, placeholder: "市区町村", class: 'form-input',value: session[:city]
          .step3-form
            .step3-form__title-input
              %span ※必須
              =f.label :house_number, '番地', class: 'form-label'
            .step3-form__input-layout
              =f.text_field :house_number, placeholder: "例）青山1-1-1", class: 'form-input',value: session[:house_number]
          .step3-form
            .step3-form__title-input
              %span ※任意
              =f.label :building_name, '建物名', class: 'form-label'
            .step3-form__input-layout
              =f.text_field :building_name,placeholder: "例）柳ビル103", class: 'form-input',value: session[:building_name]
          .step3-form
            .next-btn
              =f.submit "登録する",class:"step3-btn"