


/*  ---template書き換えの始まり--- */

.menu-package {
  margin: 0 30px;
}
  #boxlunch-heading {
    @include h2-package;
    border-bottom:2px solid #7d2d00;
    margin-top: 20px;

    &::before{
    @include h2-before-package("main-menu.jpeg");
  }
}

/*  ---template書き換えの終わり--- */



/*  ---menu-containerの始まり--- */

.menu-container {
  margin-bottom: 70px;
}

/*  ---menu-containerの終わり--- */



/*  ---asideの始まり--- */

.important-container {
  margin-bottom: 100px;
}
