
.menu-package {
  margin: 0 30px;
}
  #single-heading {
    @include h2-package;
    border-bottom:2px solid #7d2d00;
    margin-top: 20px;

    &:before{
    @include h2-before-package("single-menu.jpeg");
  }
}


/*  ---menu-selection書き換えの始まり--- */


/*  ---menu-selection書き換えの終わり--- */




/*  ---menu-containerの始まり--- */

.menu-container {
  margin-bottom: 70px;
}

/*  ---menu-containerの終わり--- */


/*  ---image-boxの始まり--- */

.image-box {
  position: fixed;
  right:0;
  top:335px;
  height: auto;
  width:50px;
  border-top: 1px solid #676666;
  border-bottom: 1px solid #676666;
  border-left: 2px solid rgba(181, 209, 13, 0.8);

img{
    display: block;
&:hover {
      background-color: rgba(255, 228, 181, 0.3);
    }
  }
}
.main-image {
  @include image-box(15px 0 0 10px);
}

.single-box {
  @include image-box;
}

.drink-box {
  @include image-box;
}

.reservation-box {
  @include image-box(10px 0 0 5px);
}

/*  ---image-boxの終わり--- */


/*  ---asideの始まり--- */

.important-container {
  margin-bottom: 100px;
}
