.mypage-logout{
  background-color: #fff;
  text-align: center;
  flex:0 0 60%;
  height:250px;
  .mypage-logout__button{ 
    margin-top: 100px;
     a{
      
      color: #FFFFFF;
      font-size: 15px;
      background-color: #EA352D;
      padding: 20px 120px;
    }
    &:focus{
      outline: none;
      background-color: #808080;
    }
  }
} 

  