.notification {
  .notice {
    background-color: $light_blue;
    color: $white;
    text-align: center;
    height:35px;
    line-height:35px;
    width:100%;
    font-size: 18px;
  }

  .alert {
    background-color: $alert_orange;
    color: $white;
    text-align: center;
  }
}