

.register-address {
  @include signup-heading;

  h3 {
    @include signup-heading_text;

    &:before {
      @include signup-heading_before;
    }
  }
}

.step3-form {
  @include signup-form;

  &__title-input {
    @include signup-title-input;
  
    span{
      @include signup-title-input_span;
    }

    label:before {
      @include signup-title-input_label;
    }
  }

  &__input-layout {
    @include signup-input-layout;

    input {
      margin-top: 20px;
      @include signup-input(400px,16px)
    }
  }

  .next-btn {
    margin:10px 0 20px 0;

    .step3-btn {
      @include signup-btn(100px,40px);

      &:hover {
        @include signup-btn_hover;
      }
    }
  }
}


