// Place all the styles related to the signup controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.signup-step1 {
  margin:50px auto 0 auto;
}

.register-head  {
  @include signup-heading;
  h3 {
    @include signup-heading_text;
    
    &:before {
      @include signup-heading_before;
      
    }
  }
}

.register-form-1st {
  @include signup-container-style;
}

.step1-form {
  @include signup-form;

  &__title-input {
    @include signup-title-input;
    span {
      @include signup-title-input_span;
    }

    label:before{
      @include signup-title-input_label;
    }
  }

  &__input-layout {
    @include signup-input-layout;

    span {
      @include signup-sapn;
    }

    input {
      @include signup-input(250px,18px);
    }
  }

  &__input-layout-back {
    display: inline-block;
    position: absolute;
    top:40%;
    transform: translateY(-50%);
    left:60%;

    span {
      @include signup-sapn;
    }

    input {
      @include signup-input(250px,18px);
    }
  }

  &__input-birthday {
    position: absolute;
    top:40%;
    transform: translateY(-50%);
    left:20%;
    display: flex;
    span {
      display: block;
      text-align: left;
      @include signup-sapn;
    }
    select {
      @include signup-input(150px,14px);
      margin-right: 50px;
      border-radius: 0px;
      cursor: pointer;
    }
  }

  &__email {
    position: absolute;
    top:40%;
    transform: translateY(-50%);
    left:20%;

    input {
      margin-top: 20px;
      @include signup-input(550px,16px)
    }
  }
  &__password {
    position: absolute;
    top:40%;
    transform: translateY(-50%);
    left:20%;
    span{
    font-size:13px;
    display: block;
  }
  input {
    display:block;
    @include signup-input(550px,16px)
  }
}
 
 &__check {
   display: block;
   span {
     font-size: 13px;
     display: inline-block;
     margin-top:15px;
   }
  }
  .single-text {
    margin-top: 20px;
  }
}

.step1-form-authentication {
  width:100%;
  max-width:768px;
  height:100%;
  margin:0 auto;
  border-bottom: 2px solid rgba(105, 105, 105, 0.2);
 
  h3 {
    color:#404040;
    margin: 20px 0;
  }
  input {
    width:15px;
    height:15px;
    margin:20px 10px 20px 0 ;
  }

  .next-btn {
    margin:10px 0 20px 0;

    .step1-btn {
      @include signup-btn(100px,40px);
      width:100px;
      height:40px;
      &:hover {
        @include signup-btn_hover;
      }
    }
  }
}